.constructor-name p
{
	width: 60%;
	color: #95BFFF;
	font-size: 55px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-align: center;
}
.constructor-button-add-inner
{
	transition: .1s;
	cursor: pointer;
}
.constructor-button-add-inner:hover
{
	transform: scale(1.1);
}
.constructor-button-add-circle
{
	width: 40px;
	height: 40px;
	background: #95BFFF;
	border-radius: 50%;
}
.constructor-button-add-circle p
{
	color: white;
	font-size: 35px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	position: relative;
	bottom: 2px;
	pointer-events: none;
}
.constructor-button-add-text p
{
	color: #95BFFF;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin-left: 12px;
}
.constructor-button-action
{
	margin-top: 100px;
}
.constructor-button-action-inner
{
	width: 50%;
}
.constructor-interview-data
{
	margin-top: 5%;
}
.constructor-interview-data-inner
{
	width: 40%;
}
#empty
{
	width: 100%;
	color: rgba(126, 166, 246, 0.35);
	box-shadow: 0px 0px 100px rgba(149, 191, 255, 0.43);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
	font-size: 30px;
}
.constructor-input
{
	border-radius: 17px 0 0 17px !important;
	width: 100%;
	z-index: 1;
}
.select
{
	width: 30%;
	position: relative;
	border-radius: 0 17px 17px 0;
	box-shadow: 0px 0px 100px rgba(149, 191, 255, 0.43);
}
.select-header
{
	width: 100%;
	padding-left: 10px;
	padding-right: 17px;
	height: 55px;
	background: #95BFFF;
	border-radius: 0 17px 17px 0;
	cursor: pointer;
	z-index: 2;
	position: relative;
}
.select-current
{
	color: white;
	font-size: 23px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
.select-icon
{
	width: 13px;
}
.select-icon-line
{
	width: 3px;
	height: 20px;
	background: white;
	border-radius: 10px;
}
.select-icon-left
{
	transform: rotate(-34deg);
	transition: .2s;
}
.select-icon-right
{
	transform: rotate(34deg);
	transition: .2s;
}
.select-body
{
	position: absolute;
	width: 100%;
	background: #C9DAFB;
	box-shadow: 0px 0px 50px rgba(149, 191, 255, 0.43);
	top: 10px;
	left: 0;
	padding: 55px 0 0; 
	border-radius: 0 17px 5px 5px;
	display: none;
	z-index: 1;
}
.select-item
{
	transition: .2s;
	cursor: pointer;
	color: white;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	padding: 10px;
}
.select-item:hover
{
	background: #B8D0FF;
}

.select-item:last-child:hover
{
	border-radius: 0 0 5px 5px;
}
.constructor-body-text
{
	color: rgba(126, 166, 246, 0.35);
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-align: center;
	padding: 0 20px;
}
.constructor-body
{
	padding: 40px 0;
}
.constructor-variant-add-block
{
	max-height: 255px;
	overflow-y: auto;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 40px;
}
.constructor-variant-add-block::-webkit-scrollbar
{
	width: 7px;
	border-radius: 5px;
}
.constructor-variant-add-block::-webkit-scrollbar-track 
{
	background: #E9EFFC;
	border-radius: 5px;
}
.constructor-variant-add-block::-webkit-scrollbar-thumb 
{
	background: #95BFFF;
	border-radius: 5px;
}
.creator-variant-add
{
	width: 100%;
	height: 70px;
	border-radius: 20px;
	border: 2px solid rgba(126, 166, 246, 0.4);
	position: relative;
	margin-bottom: 15px;
}
.constructor-input-variant
{
	width: 60%;
	border: none;
	outline: none; 
	transition: .2s;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #858585;
	text-align: center;
	border-radius: 2px;
}
.constructor-input-variant::-webkit-input-placeholder
{
	color: rgba(149, 191, 255, 0.7);
}
.constructor-input-variant::-moz-placeholder
{
	color: rgba(149, 191, 255, 0.7);
}
.scale-circle
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #95BFFF;
}
.scale-line
{
	width: 90%;
	height: 6px;
	background: #95BFFF;
}
.constructor-scale-add
{
	width: 80%;
}
.scale-data-enter
{
	width: 89%;
	margin-top: 20px;
}
.scale-data-input
{
	box-shadow: 0px 0px 50px rgba(149, 191, 255, 0.43);
	width: 15% !important;
	text-align: center;
}
.constructor-scale-param-show
{
	height: 40px;
	width: 80px;
	bottom: 20px;
	background: #95BFFF;
	border-radius: 30px;
	box-shadow: 0px 0px 50px rgba(149, 191, 255, 0.6);
}
.constructor-scale-param-text
{
	color: #95BFFF;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}
.constructor-open-show
{
	color: #95BFFF;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
.interview-display img
{
	height: 40px;
	width: 40px;
	transition: .2s;
	cursor: pointer;
}
.interview-display img:hover
{
	transform: scale(1.2);
}
.constructor-variant-show
{
    color: #95BFFF;
	height: 70px;
	border-radius: 20px;
	box-shadow: 0px 0px 50px rgba(149, 191, 255, 0.35);
	margin-bottom: 35px;
}
.constructor-variant-show p
{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
}
.constructor-variant-show:last-child
{
	margin-bottom: 0;
}
.constructor-del-variant
{
	margin-bottom: 15px;
	color: #858585;
	margin-left: 20px;
	margin-right: 10px;
}
.constructor-del-variant p
{
	cursor: pointer;
	transition: .2s;
}
.constructor-del-variant p:hover 
{
	transform: scale(1.5);
}